@import url(modification.css);

body{
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    font-family: "open sans",sans-serif;
    margin:0;
}

.nav{
    position: fixed;
    background-color: #222;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}